node_modules
npm-debug.log
yarn.lock
package-lock.json
.env
.env.*
!package.json
!package-lock.json
logs
*.log
.cache
coverage
tmp
dist
build
.git
.gitignore
docker-compose.yml
Dockerfile
README.md
.vscode
.idea
.DS_Store
Thumbs.db
